<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="OxyPlot Avalonia Feed" value="https://worldbeater.pkgs.visualstudio.com/OxyPlot.Avalonia/_packaging/OxyPlot.Avalonia-CI/nuget/v3/index.json" />
        <add key="jp2masa Feed" value="https://www.myget.org/F/jp2masa/api/v3/index.json" />
    </packageSources>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
</configuration>
